* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  height: 100vh;
  background-color: white;
}

.honbun {
  position: absolute;
  top: 20px;
  left: 20px;
}

.honbun h1 {
  color: black;/*文字色*/
  padding: 0.5em 0;/*上下の余白*/
}

.honbun h2 {
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 0.3em 0.3em;/*文字の上下 左右の余白*/
  color: black;/*文字色*/
  background: #f4f4f4;/*背景色*/
  border-left: solid 5px #7db4e6;/*左線*/
  border-bottom: solid 3px #d7d7d7;/*下線*/
}

.book {
  margin-top: 0.8em;
  position: relative;
  padding-left: 10px;
  font-weight: bold;
}

.book .ex {
  padding-left: 20px;
  font-weight: normal;
}

.navigation {
  position: relative;
  top: 10px;
  /* height: 500px; 最初はこれ*/
  height: 100vh;
  /* width: 300px; 最初はこれ*/
  width: 100px;
  background-color: grey;
  border-left: 10px solid grey;
  overflow-x: hidden;
  transition: all 0.5s;
}
