* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  height: 100vh;
  background-color: white;
}

h1 {
  font-family: "Yu Mincho Demibold";
}

.honbun {
  position: absolute;
  top: 20px;
  left: 20px;
  margin-right: 20px;
  z-index: 100;
  transition: all 0.5s;
}

.book {
  margin-top: 0.8em;
  position: relative;
  padding-left: 10px;
  font-weight: bold;
}

ul {
  padding-left: 30px;
}
